body{
    margin: 0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    overflow-x: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
}
.icon-home{
    position: relative;
    float: left;
    left: 1%;
    color: rgb(255, 255, 255);
}
.action{}
.app-title{
    position: relative;
    float: left;
    left: 4%;
    padding-top: 12px;
    margin: 0;
    color: white;font-family: 'Abel', sans-serif;
}
.nav_{
    z-index: 9;
    height: 50px;
    width: 100%;
    background-color: #2b2727;
}
.clear{
    clear: both;
}
.slide-toggle{
    display: none;
}
.slidemenu{
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    margin-top: 2%;
    overflow: hidden;
}
.slidemenu label{
    width: 33%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
}
.slidemenu label:hover{
    cursor: pointer;
    color: #666;
}
.slidemenu label span{
    display: block;
    padding: 10px;    
}
.slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}
.slider .bar{
    width: 33%;
    height: 5px;
    background: #333;
    border-radius: 5px;
}
.slidemenu label, .slider .bar {
    transition: all 600ms ease-in-out;
}
.slidemenu .slide-toggle:checked + label{
    opacity: 1;
}
.div-slide{    
    width: 0;
    position: absolute;
    height: 100%;
    transition: all 600ms ease-in-out; 
    top: 15%;
    left: 0;
    position: absolute;
    overflow-x: hidden;
}
.div-slide_1{
    overflow-y: hidden;
    z-index: 1;
    width: 100%;
}
.div-slide_2{
    overflow-y: hidden;
    opacity: 0;
    width: 100%;
}
.div-slide_3{
    overflow-y: hidden;
    opacity: 0;
    width: 100%;
}
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 33%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 67%; }
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
}
.icon{
    font-size: 0.5em;
}
.pseudo{
    color: #f1f1f1;
    margin-left:30px;
    text-decoration: none;
    font-size: 1.8em;
}
.close{
    color: #f1f1f1; 
    text-decoration: none;
}
.sidenav .item,p{
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;  
    margin-top:15px;  
    margin-left:30px;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    color: #ECF0F1;
    text-decoration: none;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.list-button{
    list-style-type: none;
    text-align: center; 
    padding: 15px;
}
.list-button li a {
    display: inline-block;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    color: rgba(0,0,0,0.7);
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 3px;
    text-decoration: none;
}
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.window{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.window input {
    color:rgb(255, 255, 255);
    padding: 15px;
    border-radius:7px;
    border:0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    display: block;
    margin: auto;
    top: 5px;
    width: 80%;
    color:white;
    font-size:18px;
    height: 20px;
}
.modal-window:target {
    visibility: visible;    
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #fff;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 50px 15px;
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}
.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    color: rgba(0,0,0,0.7);
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;
}
.modal-window input {
    color:rgb(255, 255, 255);
    padding: 15px;
    border-radius:7px;
    border:0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    display: block;
    margin: 15px;
    width: 80%;
    color:white;
    font-size:18px;
    height: 20px;
}
.modal-window input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: rgb(49, 47, 47);
}
.sucess  {
    border:none;
    padding: 15px;
    margin: 15px;
    margin-left: 15px;
    width: 80%;    
    font-size:18px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;  border: 1px solid transparent;
    border-radius:7px;
}
table {
    color: #fff;
    text-align: left;
    width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th,td {
    padding: 15px;
    color: rgb(90, 83, 83);
}
th{
    color: #fff;
    background-color:rgb(90, 83, 83);
}
th:first-child{
    text-align: left;
    width: 20px;
    background-color:rgb(90, 83, 83);
}
td:first-child{
    text-align: left;width: 20px;
}
.containerTable {
    width: 100vh;
}

.afterConnexion {
    visibility: hidden;
}

#modal-damier {
    visibility: hidden;
    top: 20%;
}

