@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

            #Damier {
                display: none;
            }

            #boutons, #ChoixPartie {
                margin-left: 40%;
                margin-top: 20%;

            }

            #ConnexionButton, #InscriptionButton, #PartieReseau, #PartieLocale {
                margin-top: 10px;
                background-color: rgb(32, 32, 32);
                color: white;
                width: 30%;
                height: 5%;
                border-radius: 10px;
                border-color: rgb(32, 32, 32);
                font-family: 'Abel', sans-serif;
                font-size: 18px;
                height: 5%;
                width: 30%;
                box-shadow: 5px 5px 5px rgb(65, 65, 65);
                
            }

            #Connexion, #Inscription {
                margin-left: 40%;
                margin-top: 15%;
                border-style: solid;
                border-color: rgb(32, 32, 32);
                width: 20%;
                border-radius: 15%;
                background-color: rgb(32, 32, 32);
                box-shadow: 5px 5px 5px rgb(65, 65, 65);
            }

            h1 {
                color: white;
                margin-left: 15%;
                font-family: 'Abel', sans-serif;
                
            }

            form {
                margin-left: 10%;
            }

            #lesInputs {
                border-radius: 4px;
                height: 6%;
                width: 90%;
                font-family: 'Abel', sans-serif;
                font-size: 16px;
                padding-left: 5px;
                margin-top: 5px;
            }

            #bouton {
                background: linear-gradient(grey,white);
                border-color: grey;
                border-radius: 4px;
                height: 5%;
                width: 60%;
                font-family: 'Abel', sans-serif;
                font-size: 18px;
                margin-left: 15%;
                margin-top: 7%;
            }